<div class="nav">
    <a class="logo" href="/">PotatoForum</a>
    <a href="/write">Write</a>
    <a href="/list/1">List</a>
    <a href="/mypage">Mypage</a>
    <a href="/Login">Login</a>
    <a href="/Registry">Registry</a>
    <a href="/chat/list">Chatting</a>
</div>
