<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body class="grey-bg">
     <%- include('nav.ejs') %>

     <form class="form-box" action="/registry" method="POST">
        <h4>회원가입</h4>
         <input name="username">
         <input class="password" name="password" type="password" placeholder="비밀번호">
         <input class="password2" name="password2" type="password" placeholder="비밀번호 확인">
         <button type="submit">전송</button>
     </form> 
    
    <script>
        document.querySelector('button').addEventListener('click', function(e){
            let pas1 = document.querySelector('.password').value;
            let pas2 = document.querySelector('.password2').value;

            if(pas1 != pas2){
                e.preventDefault();
                alert('비밀번호와 비밀번호 확인이 다릅니다.');
            }
        })
    </script>
  
</body>
    
</html>